@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager

<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="keywords"
          content="leave management system">

    <meta name="description"
          content="Sample Project with NET6">
    <meta name="robots" content="noindex,nofollow">

    <title>@ViewData["Title"] - Leave Management System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LeaveManagementWeb.styles.css" asp-append-version="true" />

    <!--dataTables-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/dataTables.bootstrap5.min.css" />
    <!--datePicker-->
    <link rel="stylesheet" href="~/lib/jquery_ui/jquery_ui.css" />

    <!--font awesome-->
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />

    <!--
    <link rel="canonical" href="https://www.wrappixel.com/templates/xtreme-admin-lite/" />
    -->
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">

    <!-- Custom CSS -->
    <!--
    <link href="../../assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    -->
    <!-- Custom CSS -->
    <link href="~/css/style.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
         data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a href="#" class="navbar-brand" >
                        <!-- Logo icon -->
                           
                      
                        

                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text">
                            Leave Management 
                        </span>
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    @*
                    <ul class="navbar-nav float-start me-auto">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item search-box">
                            <a class="nav-link waves-effect waves-dark"
                               href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search position-absolute">
                                <input type="text" class="form-control" placeholder="Search &amp; enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-end">
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/images/users/1.jpg" alt="user" class="rounded-circle" width="31">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i class="ti-user m-r-5 m-l-5"></i>
                                    My Profile
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i class="ti-wallet m-r-5 m-l-5"></i>
                                    My Balance
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i class="ti-email m-r-5 m-l-5"></i>
                                    Inbox
                                </a>
                            </ul>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                    *@
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <!-- User Profile-->
                                <div class="user-profile d-flex no-block dropdown m-t-20">
                                    <div class="user-pic">
                                        <img src="~/images/users/1.jpg" alt="users"
                                         class="rounded-circle" width="40" />
                                    </div>
                                    <div class="user-content hide-menu m-l-10">
                                        <a href="#" class="" id="Userdd" role="button"
                                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <h5 class="m-b-0 user-name font-medium">
                                                @User.Identity?.Name <i class="fa fa-angle-down"></i>
                                            </h5>
                                            <span class="op-5 user-email">@User.FindFirstValue(ClaimTypes.Role)</span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="Userdd">
                                            <a class="dropdown-item" href="javascript:void(0)">
                                                <i class="ti-user m-r-5 m-l-5"></i> My Profile
                                            </a>
                                            <a class="dropdown-item" href="javascript:void(0)">
                                                <i class="ti-wallet m-r-5 m-l-5"></i> My Balance
                                            </a>
                                            <a class="dropdown-item" href="javascript:void(0)">
                                                <i class="ti-email m-r-5 m-l-5"></i> Inbox
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:void(0)">
                                                <i class="ti-settings m-r-5 m-l-5"></i> Account Setting
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:void(0)">
                                                <i class="fa fa-power-off m-r-5 m-l-5"></i> Logout
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            }

                            else
                            {

                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link btn btn-primary d-flex align-items-center  m-1"
                               asp-area="Identity" asp-page="/Account/Register" aria-expanded="false">
                                    <i class="fa-regular fa-id-card"></i><span class="hide-menu">Register</span>
                                </a>
                            </li>

                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link btn btn-info d-flex align-items-center m-1"
                               asp-area="Identity" asp-page="/Account/Login"
                               aria-expanded="false">
                                    <i class="fa-solid fa-key"></i><span class="hide-menu">Login</span>
                                </a>
                            </li>


                            }
                        <!-- End User Profile-->
                        </li>

                        <!-- User Profile-->
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-area="" asp-controller="Home" asp-action="Index"
                               aria-expanded="false">
                                <i class="fa-solid fa-house"></i><span class="hide-menu">Home</span>
                            </a>
                        </li>


                        @if (User.IsInRole(DefinedRoles.User))
                        {

                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-area="" asp-controller="LeaveRequests" asp-action="Create" aria-expanded="false">
                                    <i class="fa-solid fa-file-signature"></i><span class="hide-menu">Apply For Leave</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-area="" asp-controller="LeaveRequests" asp-action="MyLeave" aria-expanded="false">
                                    <i class="fa-solid fa-truck-moving"></i><span class="hide-menu">My Leave</span>
                                </a>
                            </li>

                             <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl=@Url.Action("Index","Home")
                               aria-expanded="false">
                                    <i class="fa-solid fa-power-off"></i><span class="hide-menu">Logout</span>
                                </a>
                            </li>
                        }

                        @if (User.IsInRole(DefinedRoles.Admin))
                        {
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-area="" asp-controller="Employees" asp-action="Index" aria-expanded="false">
                                    <i class="fa-solid fa-people-group"></i><span class="hide-menu">Employees</span>
                                </a>
                            </li>

                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-controller="LeaveTypes" asp-action="Index" aria-expanded="false">
                                    <i class="fa-regular fa-rectangle-list"></i><span class="hide-menu">Leave Types</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-controller="LeaveRequests" asp-action="Index" aria-expanded="false">
                                    <i class="fa-solid fa-person-walking-luggage"></i><span class="hide-menu">Leave Requests</span>
                                </a>
                            </li>

                            
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl=@Url.Action("Index","Home")
                               aria-expanded="false">
                                    <i class="fa-solid fa-power-off"></i><span class="hide-menu">Logout</span>
                                </a>
                            </li>
                            
                        }


                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">

            <div class="container-fluid">
                <div class="row">
                    @RenderBody()

                </div>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>

    <!--DataTables references-->
    <script src="~/lib/jquery/dist/jquery.dataTables.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/dataTables.bootstrap5.min.js"></script>
    <!--date picker-->
    <script src="~/lib/jquery_ui/jquery_ui.js"></script>


    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <!-- Bootstrap tether Core JavaScript -->
    <!--
    <script src="../../dist/js/app-style-switcher.js"></script>
    -->
    <!--Wave Effects -->
    <script src="~/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/js/custom.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <!--
    <script src="../../assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="../../assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    -->

    <script src="~/js/pages/dashboards/dashboard1.js"></script>

    <!--Convert HTML tables to jQuery DataTable-->
    <script>
        $( function(){
             //dataTable , Tüm sayfalardaki table lara eklenir.
            $('.table').DataTable();
            $(".datepicker").datepicker({dateFormat:"yy-mm-dd"});
        } );
    </script>


    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>